.wrapper {
    margin : 8px;
    padding: 10px 10px 10px 80px;
}

.icon {
    margin: -5px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.button-container {
    align-self: flex-end;
}

.message-container {
    max-width: 60%;
}